.red {
  color: red;
  background-color: yellowgreen;
  border: none;
  border-radius: 20px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
}

.toggleButtonSingle {
  margin-bottom: 1rem;
  margin-right: 1rem;
  background-color: #4caf50; /* Green */
  border: none;
  border-radius: 20px;
  color: blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
}

.textSortida {
  margin: 0 auto;
  width: 33%;

  font-size: 3rem;
  background-color: darkgrey;
}
